.paging {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  margin: 10px auto 30px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.pagingNav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.pagingNav button {
  margin: 10px;
  padding: 5px 15px 5px 15px;
  background-color: #d55140;
  color: #ffffff;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
}

.pagingNav button:hover {
  background-color: #000000;
}

.paging h3 {
  font-size: 1em;
}
