<div
  class="result-container"
  [ngStyle]="{
    'background-image': 'url(' + data?.webImage?.url + ')',
    'background-position': 'center'
  }"
>
  <div class="result">
    <div class="imageInformation">
      <a
        href="{{ data?.webImage?.url }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="resultImages"
          alt="{{ data?.title }}"
          [src]="data?.webImage?.url"
        />
      </a>
      <div class="informationText">
        <h3>{{ data?.principalOrFirstMaker }}</h3>
        <h2>{{ data?.longTitle }}</h2>
        <h3>
          <a
            href="{{ data?.links?.web }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            View on Rijksmuseum website
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
