<form class="search-form">
  <div class="search-input-container">
    <input
      name="searchInput"
      type="text"
      class="search-input"
      placeholder="Search Dutch masters"
      (input)="handleInput(searchValue)"
      (focus)="handleInputFocus()"
      [(ngModel)]="searchValue"
    />
    <ul
      class="suggestions-dropdown"
      *ngIf="searchValue && matchingSuggestions.length > 0"
    >
      <li
        *ngFor="let suggestion of matchingSuggestions"
        (click)="handleSearch(suggestion)"
        class="suggestion"
      >
        {{ suggestion }}
      </li>
    </ul>
    <span class="input-icon">
      <fa-icon [icon]="faMagnifyingGlass" />
    </span>
  </div>
</form>

<div class="centuryText">
  <ul>
    <li>
      <p>Search by century:</p>
    </li>
    <li *ngFor="let century of centuries">
      <button (click)="dateSearch(century.value)">
        {{ century.name }}
      </button>
    </li>
  </ul>
</div>
<div class="centurySelect">
  <ul>
    <li class="selectTitle">
      <p>Search by century:</p>
    </li>
    <li class="selectDropdown">
      <select #selectDropdown (change)="dateSearch(selectDropdown.value)">
        <option value="0">Select century</option>
        <option *ngFor="let century of centuries" [value]="century.value">
          {{ century.name }} century
        </option>
      </select>
    </li>
  </ul>
</div>
